[Desktop Entry]
Name=Ladybird
Comment=Truly independent web browser
Exec=Ladybird
Terminal=false
Type=Application
Icon=org.ladybird.ladybird
StartupWMClass=Ladybird
Categories=Network;WebBrowser;
